@model Rentman.CarViewModel
@{
    ViewData["Index"] = "List Cars";
}

<div class="text-center table-body">
	<h3 class="table-header">Car List</h3>
	<table style="width:100%">
		<tr class="titles">
			<th>Id</th>
			<th>Make</th> 
			<th>Model</th>
			<th>Colour</th>
			<th>Year</th>
			<th>Milage</th>
		</tr>
		@foreach (RentmanLib.Car item in Model.CarList)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Make</td> 
					<td>@item.Model</td>
					<td>@item.Colour</td>
					<td>@item.Year</td>
					<td>@item.Milage</td>
				</tr>
			}
	</table>
</div>
